






// THEME DESIGN SYSTEM

// Theme 1
$color-blue-theme-1: #5DB7DE;
$color-blue-light-theme-1: #E2F1F8;
$color-red-theme-1: #F5463D;
$color-off-white-theme-1: #F5F5F5;

$font-theme-1: 'Arial Narrow';

// Applications
$color-bg-blue-theme-1: $color-blue-theme-1;
$color-bg-blue-light-theme-1: $color-blue-light-theme-1;
$color-bg-red-theme-1: $color-red-theme-1;
$color-bg-off-white-theme-1: $color-off-white-theme-1;


// Theme 2






$font-first: 'Nabla';
$font-third: 'Autopia-Regular';
$font-fourth: "Arial Narrow";
$font-fith: "Arial Narrow";
$font-sixth: "Arial Narrow";



// Mediaqueries
$bp-small: 24rem; // 384px 
$bp-lowermedium: 37rem; // 592px
$bp-medium: 48rem; // 768px
$bp-uppermedium: 60rem; // 960px
$bp-lowerlarge: 75rem; // 1216px
$bp-large: 90rem; // 1440px
$bp-xlarge: 120rem; // 1920px