*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

@font-face {
    font-family: 'Autopia-Regular';
    src: url('/fonts/Autopia-Regular.woff') format('woff'), 
         url('/fonts/Autopia-Regular.woff2') format('woff2'); 
    }




