
.quote-app {
    display: flex;
    flex-direction: column;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;

    @include mq($bp-lowermedium) {
        min-height: 100vh;
    }

    &__main {
        flex: 1;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.about-sect {
    padding-top: $horizontal-padding-base;
    flex: 1;

    @include mq($bp-medium) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $vertical-padding-base;
    }

    &__img {
        background-image: url('/img/yellow-stairs-marina.webp');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 70vh;

        @include mq($bp-medium) {
            height: auto;
        }
    }

    &__desc {
        padding-top: 2rem;

        @include mq($bp-medium) {
            padding-top: 0;
        }
    }
}


