@import '../../scss/sass-variables';



.topbar {
    color: $color-blue-theme-1; 
    background-color: $color-bg-off-white-theme-1;
    font-size: 4rem;
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;

    padding: 2rem;

    & a {
        color: inherit;
        text-decoration: none;
        font-style: italic;
    }
}